In [1]:
import pandas as pd

In [2]:
same_data=pd.read_csv('same_type diff vale.csv')
diff1_data=pd.read_csv('diff_type1 diff vale.csv')
diff2_data=pd.read_csv('diff_type2 diff vale.csv')

In [3]:
same_data.head()

,Unnamed: 0,18,19,20,21,22,23,24,25,26,...,105,106,107,108,109,110,111,112,113,114
0,0,0.321115,0.514333,0.373107,0.308102,0.289894,0.487228,0.337989,0.343168,0.537745,...,0.131296,0.077253,0.177800,0.481212,0.379598,0.493603,0.377543,0.474478,0.332180,0.305411
1,1,0.243622,0.129159,0.371384,0.248482,0.484530,0.137881,0.224689,0.219011,0.215716,...,0.795006,0.746658,0.636025,0.127188,0.160917,0.136769,0.180854,0.201586,0.501558,0.283105
2,2,0.314840,0.314325,0.505185,0.351510,0.081381,0.315309,0.312146,0.302956,0.433252,...,0.119506,0.111759,0.063633,0.298413,0.336228,0.308483,0.325478,0.399395,0.115269,0.337198
3,3,0.279571,0.477903,0.479245,0.299819,0.329514,0.541658,0.485662,0.296868,0.787289,...,0.216088,0.159252,0.345743,0.445633,0.367540,0.507385,0.439748,0.717505,0.318898,0.278522
4,4,0.343642,0.470288,0.490652,0.356614,0.262123,0.473405,0.387654,0.354203,0.559918,...,0.183937,0.134373,0.206936,0.438535,0.401610,0.466578,0.402379,0.511062,0.299534,0.338704

In [4]:
same_data=same_data.drop('Unnamed: 0',axis=1)

In [5]:
count={}
for i in range(10):
    count[i]=0

In [6]:
for line in same_data.iterrows():
    for point in line[1]:
        range_id=int(point*10)
        count[range_id]+=1

In [7]:
count

{0: 47,
 1: 322,
 2: 1187,
 3: 2452,
 4: 4547,
 5: 6310,
 6: 6835,
 7: 5778,
 8: 4563,
 9: 3073}

In [8]:
diff1_data=diff1_data.drop('Unnamed: 0',axis=1)
diff2_data=diff2_data.drop('Unnamed: 0',axis=1)

In [9]:
count1={}
for i in range(11):
    count1[i]=0
for line in diff1_data.iterrows():
    for point in line[1]:
        range_id=int(point*10)
        count1[range_id]+=1

In [10]:
count1

{0: 97,
 1: 466,
 2: 931,
 3: 1291,
 4: 741,
 5: 457,
 6: 298,
 7: 263,
 8: 288,
 9: 138,
 10: 10}

In [11]:
count2={}
for i in range(11):
    count2[i]=0
for line in diff2_data.iterrows():
    for point in line[1]:
        range_id=int(point*10)
        count2[range_id]+=1

In [12]:
count2

{0: 20,
 1: 120,
 2: 257,
 3: 414,
 4: 404,
 5: 365,
 6: 304,
 7: 279,
 8: 345,
 9: 162,
 10: 0}

In [28]:
echarts=[]
for i in range(10):
    echarts.append([0,i,count[i]/150])
for i in range(10):
    echarts.append([1,i,count1[i]/35])
for i in range(10):
    echarts.append([2,i,count2[i]/15])

In [29]:
echarts

[[0, 0, 0.31333333333333335],
 [0, 1, 2.1466666666666665],
 [0, 2, 7.913333333333333],
 [0, 3, 16.346666666666668],
 [0, 4, 30.313333333333333],
 [0, 5, 42.06666666666667],
 [0, 6, 45.56666666666667],
 [0, 7, 38.52],
 [0, 8, 30.42],
 [0, 9, 20.486666666666668],
 [1, 0, 2.7714285714285714],
 [1, 1, 13.314285714285715],
 [1, 2, 26.6],
 [1, 3, 36.885714285714286],
 [1, 4, 21.17142857142857],
 [1, 5, 13.057142857142857],
 [1, 6, 8.514285714285714],
 [1, 7, 7.514285714285714],
 [1, 8, 8.228571428571428],
 [1, 9, 3.942857142857143],
 [2, 0, 1.3333333333333333],
 [2, 1, 8.0],
 [2, 2, 17.133333333333333],
 [2, 3, 27.6],
 [2, 4, 26.933333333333334],
 [2, 5, 24.333333333333332],
 [2, 6, 20.266666666666666],
 [2, 7, 18.6],
 [2, 8, 23.0],
 [2, 9, 10.8]]

In [42]:
sum(count.values())

70228

In [43]:
sum(count1.values())

4980

In [44]:
sum(count2.values())

2670

In [58]:
aa=[[0, 0, 26.06777777777778],
 [0, 1, 23.35777777777777775],
 [0, 2, 16.318888888888889],
 [0, 3, 12.7244444444444444],
 [0, 4, 3.052222222222222],
 [0, 5, 4.011111111111111],
 [0, 6, 3.594444444444444],
 [0, 7, 5.42],
 [0, 8, 5.07],
 [0, 9, 3.4144444444444444],
 [1, 0, 1.94],
 [1, 1, 9.32],
 [1, 2, 5.96],
 [1, 3, 5.26],
 [1, 4, 9.14],
 [1, 5, 14.82],
 [1, 6, 18.62],
 [1, 7, 25.82],
 [1, 8, 5.76],
 [1, 9, 2.76],
 [2, 0, 0.4],
 [2, 1, 2.4],
 [2, 2, 5.14],
 [2, 3, 8.28],
 [2, 4, 25.08],
 [2, 5, 27.3],
 [2, 6, 18.08],
 [2, 7, 5.58],
 [2, 8, 6.9],
 [2, 9, 3.24]]
for i in aa:
     i[2]*=2

In [59]:
aa

[[0, 0, 52.13555555555556],
 [0, 1, 46.715555555555554],
 [0, 2, 32.63777777777778],
 [0, 3, 25.448888888888888],
 [0, 4, 6.104444444444444],
 [0, 5, 8.022222222222222],
 [0, 6, 7.188888888888888],
 [0, 7, 10.84],
 [0, 8, 10.14],
 [0, 9, 6.828888888888889],
 [1, 0, 3.88],
 [1, 1, 18.64],
 [1, 2, 11.92],
 [1, 3, 10.52],
 [1, 4, 18.28],
 [1, 5, 29.64],
 [1, 6, 37.24],
 [1, 7, 51.64],
 [1, 8, 11.52],
 [1, 9, 5.52],
 [2, 0, 0.8],
 [2, 1, 4.8],
 [2, 2, 10.28],
 [2, 3, 16.56],
 [2, 4, 50.16],
 [2, 5, 54.6],
 [2, 6, 36.16],
 [2, 7, 11.16],
 [2, 8, 13.8],
 [2, 9, 6.48]]