In [17]:
import pandas as pd
data1=pd.read_csv('./about factor.csv')
data2=pd.read_csv('problem1 factors.csv')
data3=pd.read_csv('./2021_ICM_Problem_D_Data/influence_data.csv',encoding='gbk')

In [18]:
data3.head()

   influencer_id          ...          follower_active_start
0         759491          ...                           1980
1          25462          ...                           1990
2          66915          ...                           1990
3          71209          ...                           1990
4          91438          ...                           1990

[5 rows x 8 columns]

In [10]:
data2.head()

   Unnamed: 0       ...        in age compete
0          74       ...                  1241
1         589       ...                  1241
2        1589       ...                   991
3        2578       ...                  1241
4        2750       ...                  1413

[5 rows x 9 columns]

In [35]:
data2.sort_values(by='out age follower num',ascending=False)['out age follower num'].values[0:15]

array([116, 110,  99,  89,  78,  75,  68,  68,  68,  64,  62,  60,  60,
        60,  54], dtype=int64)

In [36]:
data2.sort_values(by='out age follower num',ascending=False)['Unnamed: 0'].values[0:15]

array([549797, 754032, 316834,  66915, 379125, 276085, 423829, 467203,
       531986, 139026,  79016, 622805, 894465, 771438,  41874],
      dtype=int64)

In [37]:
list1=[]
for ida in data2.sort_values(by='out age follower num',ascending=False)['Unnamed: 0'].values[0:15]:
    list1.append(data3[data3['influencer_id']==ida]['influencer_name'].values[0])

In [38]:
list1

['Hank Williams',
 'The Beatles',
 'Marvin Gaye',
 'Bob Dylan',
 'Neil Young',
 "Howlin' Wolf",
 'Miles Davis',
 'Michael Jackson',
 'David Bowie',
 'Led Zeppelin',
 'Billie Holiday',
 'Stevie Wonder',
 'The Rolling Stones',
 'Black Sabbath',
 'The Beach Boys']

In [39]:
list2=[]
for i in data2.sort_values(by='out age follower num',ascending=False)['out age follower num'].values[0:15]:
    list2.append([0,i])

In [40]:
list2

[[0, 116],
 [0, 110],
 [0, 99],
 [0, 89],
 [0, 78],
 [0, 75],
 [0, 68],
 [0, 68],
 [0, 68],
 [0, 64],
 [0, 62],
 [0, 60],
 [0, 60],
 [0, 60],
 [0, 54]]

In [89]:
gephi_data=data3[data3['influencer_active_start']==1990]
gephi_data=gephi_data[gephi_data['influencer_main_genre']=='Pop/Rock']

In [90]:
gephi_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2418 entries, 23 to 42765
Data columns (total 8 columns):
influencer_id              2418 non-null int64
influencer_name            2418 non-null object
influencer_main_genre      2418 non-null object
influencer_active_start    2418 non-null int64
follower_id                2418 non-null int64
follower_name              2418 non-null object
follower_main_genre        2418 non-null object
follower_active_start      2418 non-null int64
dtypes: int64(4), object(4)
memory usage: 170.0+ KB

In [91]:
new_gephi=pd.DataFrame()

In [92]:
new_gephi['source']=gephi_data['influencer_id']
new_gephi['target']=gephi_data['follower_id']

In [93]:
new_gephi.reset_index().drop('index',axis=1).to_csv('1990pop gephi_data.csv')

In [53]:
a=new_gephi.reset_index().drop('index',axis=1)

In [54]:
a.head()

      序号1  序号2
0   66915  335
1  208582  335
2  651107  335
3  988638  335
4  295756  441

In [81]:
list11=['undirected']*251

In [82]:
new_gephi['Type']=list11

In [84]:
list12=[]
for i in range(251):
    list12.append(i)

In [85]:
new_gephi['id']=list12

In [88]:
new_gephi.reset_index().drop('index',axis=1).to_csv('new_gephi data.csv')

In [87]:
new_gephi

        source   target        Type   id
144     517607     3226  undirected    0
805     990384    12972  undirected    1
2644    913210    37730  undirected    2
2804    761108    39013  undirected    3
4293    520545    63340  undirected    4
5583    780005    84387  undirected    5
6951    358641   105030  undirected    6
7747    753706   121236  undirected    7
9316   2825814   145128  undirected    8
9821    320426   154544  undirected    9
10972   761108   170879  undirected   10
11318   913210   175579  undirected   11
11367   761108   175992  undirected   12
12034   329883   185018  undirected   13
12035   753706   185018  undirected   14
12088   846092   185615  undirected   15
12958   520545   199089  undirected   16
13622   884686   211578  undirected   17
14250   761108   223197  undirected   18
15106   913210   240665  undirected   19
16053   761108   258567  undirected   20
18276   170879   318085  undirected   21
18283   670226   318085  undirected   22
18489    80649   325357  undirected   23
18719    28002   331323  undirected   24
19860   502978   359326  undirected   25
20028    28002   366681  undirected   26
20036   670226   366681  undirected   27
20038   681154   366681  undirected   28
20041   762885   366681  undirected   29
...        ...      ...         ...  ...
42493   366681  3316228  undirected  221
42494  2124046  3316228  undirected  222
42508   836394  3323342  undirected  223
42536   588246  3366296  undirected  224
42537  1507678  3366296  undirected  225
42538  2873356  3366296  undirected  226
42542   860561  3370668  undirected  227
42562   859589  3391646  undirected  228
42569    97384  3391937  undirected  229
42578   503460  3406269  undirected  230
42583   367188  3407597  undirected  231
42587    40743  3408531  undirected  232
42632    97384  3445208  undirected  233
42634   586843  3445208  undirected  234
42635   736318  3445208  undirected  235
42638   985076  3445208  undirected  236
42639  1391526  3445208  undirected  237
42644  2639628  3451786  undirected  238
42659   325357  3460695  undirected  239
42660   573391  3460695  undirected  240
42662   755918  3460695  undirected  241
42672   894962  3462822  undirected  242
42673  2639628  3462822  undirected  243
42678    80649  3469567  undirected  244
42682   460390  3474187  undirected  245
42683   517607  3474187  undirected  246
42690    80358  3475903  undirected  247
42746   663645  3632715  undirected  248
42752   367188  3639618  undirected  249
42753   859589  3639618  undirected  250

[251 rows x 4 columns]